#parse("/common/init.vm")
#set($page_setting = "/cms/article/common/article-setting.vm")
<div>
#foreach($!{article} in $!{page.result})
	<blockquote>
    	<a href="${path}/article/$!{article.id}">
			<p>$!{article.title}</p>
    	</a>
        <p class="blockquote-summary"><span class="blockquote-summary-title">摘要：</span>$!{article.summary}</p>
        <p>
            <img src="${R}/images/tag.png" width="23px" height="23px"/>
			#if($!{article.tags})
				#foreach($!tag in $!article.tags.split(","))
                    <a href="${path}/search/tags?tag=$!tag"><span class="article-label bg-grey">$!tag</span></a>
				#end
			#end
    		<span class="blockquote-span">
				#if($!{person_session})
                    <a href="${path}/article/edit/$!{article.id}" title="修改"><img src="${R}/images/edit.png" width="23px" height="23px"/></a>
				#end
				
				发布日期：$!dateTool.format('yyyy / MM / dd',$!{article.publishTime})
				&nbsp;&nbsp;|&nbsp;&nbsp;
				点击数：$!{article.clickCount}
			</span>
		</p>
	</blockquote>
#end
</div>
#page()